@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-random {
  animation: moveAnimation 10s linear infinite;
}

@keyframes moveAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 100px);
  }
}
